# Mac
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcuserstate
xcuserdata/
DerivedData/
*.pbxuser
*.mode1v2
*.mode2v2
*.perspectivev3
*.xcuserstate
.DS_Store
**/.DS_Store

# SwiftData
*.sqlite
*.sqlite-shm
*.sqlite-wal
Orbit/.DS_Store
Orbit/Orbit/.DS_Store
Orbit/Orbit/.DS_Store
Orbit/Orbit.xcodeproj/project.xcworkspace/xcuserdata/oj.xcuserdatad/UserInterfaceState.xcuserstate
